*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header{
    background-image:linear-gradient(rgba(9, 4, 4, 0.635), rgba(9, 4, 4, 0.635)), url(../assets/images/header-bg.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
nav{
    display: flex;
padding: 1%;
align-items: center;
justify-content: space-between;
position: fixed;
background-color:rgba(9, 4, 4, 0.286) ;
width: 100%;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;  
}
.nav-links{
    flex: 1;
    text-align: right;

}
.nav-links ul{
    padding-right:30px ;
}
.nav-links ul li{
    text-align: right;
    display: inline-block; 
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px 12px; 
    list-style: none;
    position: relative;
}
.nav-links ul li a{
    text-decoration: none;
    font-size: 15px;
}
.nav-links ul li::after{
content: "";
width: 0%;
background: whitesmoke;
height: 2px;
display: block;
margin: auto;
transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
	width: 100%;
	color: white;
    align-items: center;
    justify-content: center;
	padding-top: 25%;
	text-align: center;
    }
.text-box h1{
	font-size: 62px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.text-box p{
	margin: 10px 0 40px;
	font-size: 14px;
	color:white;
    word-spacing: 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.nav-links ul li:active::before{
    width: 100px;
    color: red;
    }
    .hero-btn{
        display: inline-block;
        text-decoration: none;
        color: white;
        border: 1px solid white;
        padding: 12px 34px;
        font-size: 13px;
        background:transparent;
        /* position: relative; */
        cursor: pointer;
    }
    .hero-btn:hover{
         border: 1px solid tomato;
         background:rgba(248, 115, 92, 0.318);
         transition: 1s;
    }
    .fa-times, .fa-bars{
        display:none;
    }
    .social{
        flex: 1;
    text-align: right;
    }
    .social ul li{
        text-align: right;
        display: inline-block; 
        padding: 15px 8px;
    }
    .social ul li a{
        text-decoration: none;
        color: white;
        font-size: 30px;
    }
    /* .social i{
        color: #fff;
  font-size: 30px;
    } */
    @media screen and (max-width: 601px) and (min-width:270px){
        .header{
            height: 100%;
        }
        .text-box h1{
            font-size: 20px;
            text-align:center;
        }
        .text-box p{
            font-size: 10px;
        }
        .nav-links ul li{
            display: block;
            text-align: left;
        }
        .nav-links{
            position:fixed;
            background:rgba(12, 10, 10, 0.669);
            height: 100vh;
            width:150px;
            top: 0;
            right: -200px;
            text-align:left;
            z-index: 2; 
            transition: 1s;
        }
        .fa-bars, .fa-times{
            display:block;
            color:whitesmoke;
            margin: 10px;
            margin-right: 20px;
            font-size: 35px;
            cursor: pointer; 
        }
        
        .nav-links ul{
            padding: 30px;
        }
    }

    @media screen and (min-width: 602px) and (max-width:1000px){
        .header{
            height: 100%;
        }
.text-box h1{
            font-size: 50px;
            text-align:center;
        }
        .text-box p{
            font-size: 25px;
        }
    }

.about{
    margin: 0;
    padding: 70px 0 0 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #273f59;
}
.about h2{
   margin: 10px;
   font-size: 30px;
}
.about p{ 
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.about-row{
    display: flex;
    justify-content: space-between;
    margin: 50px;
    gap: 20px;
}
.about-col{
    flex-basis: 50%;
    width: 50%;
}
.about-col img{
width: 100%;
}

.about-col p{
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
 margin-top: 25px;
  text-align: left;
  padding-right: 50px;
}

.skills{
    background-image:linear-gradient( rgba(22, 21, 22, 0.9),rgba(22, 21, 22, 0.9)), url(../assets/images/skill-background.png);
    padding: 50px;
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(16, 15, 15);
    color:white;
}
.skills h2{
    margin:50px 10px 0 10px;
    font-size: 50px;
 }
 .skills p{ 
     font-size: 25px;
 }
.skills-row{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
    gap: 20px;
}
.skills-col{
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(22, 21, 22, 0.9);
    padding: 30px 30px 10px 30px;
    flex-basis: 25%;
    background-color: white;
}
.skills-col img{
    width: 100%;
    height: auto;
    justify-content: center;
}
.skills-col h1{
text-align: center;
font-weight: 900;
font-family: Arial, Helvetica, sans-serif;
color: #273f59;
}


.services{
    padding: 50px 50px 0 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
.services h1{
    margin:50px 10px 10px  10px;
    font-size: 50px;
    color: #273f59;
 }

 .services p{
    font-size: 25px;
    color: #273f59;
 }
.services-row{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
    gap: 20px;
}
.services-col{
    border-radius: 10px;
    box-shadow: 0 0 10px 0 lightgrey;
    padding: 30px;
    flex-basis: 25%;
    background-color: white;
}
.services-col h4{
    color: #273f59;
    font-size: 20px;
    margin: 20px;
}
.services-col p{
    font-size: 15px;
  color: #7b7b7b;
  line-height: 1.2;
}


.portfolio{
    padding: 50px 50px 0 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
.portfolio h1{
    margin:50px 10px 10px 10px;
    font-size: 45px;
    color: #273f59;
    letter-spacing:-2px;
 }

 .portfolio p{
    font-size: 18px;
    color: #273f59;
 }
.portfolio-row{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
    gap: 20px;
}
.portfolio-col{
    box-shadow: 0 0 10px 0 lightgrey;
    padding: 0px;
    flex-basis: 31%;
}
.img-container{
    overflow: auto;
    /* position: relative; */
    background-color: transparent;
}

.portfolio-col img{
    width: 100%;
	display: block;
}
.portfolio-col a{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
}
.layer{
	background: black;
	height: 100px;
	width: 100px;
	position:sticky;
	top: 0;
	left: 20%;	
	transition: 0.5s;
    z-index: 6;
    display: none;
}
.layer:hover{
	background: rgba(244, 235, 235, 0.082);
}
.layer-text{ 
	width:100%;
	font-weight: 500;
	color:white;
	font-size: 26px;
	bottom:0;
	left: 50%;
	transform:translateX(-50%);  
	position: absolute;
	opacity: 0;
	transition: 0.5s;
}
.layer:hover .layer-text{
	bottom: 25%;
	opacity: 1;
    display: block;
}


.footer{
    background-color: black;
    text-align: center;
    color: azure;
    padding: 30px 0;
    margin-top: 50px;
}
.footer-col{
	flex-basis: 48%;
}
.footer h1{
    padding-bottom: 10px;
    padding-top: 30px;
}
.footer-row{
    display: flex;
    justify-content: space-around;
   width: 80%;
   margin: auto;
   margin-top: 20px;
}
.footer ul{
   text-align: justify;
   
}
.footer ul li{
    list-style: none;
    padding: 20px 0;
    font-size: 30px;
}
.footer i{
    padding-right: 5px;
}

.footer-col input, .footer-col textarea{
	width: 70%;
	padding: 15px;
	margin-bottom: 17px;
	outline: none;
	border: 1px solid #ccc;
    color: white;
	box-sizing: border-box;
    background-color: transparent;
}

@media(max-width:958px){
    .about{
        padding: 10px;
    }
    .about-row{
        flex-direction: column;
        margin: 50px 10px;
    }
    .about-col{
        flex-basis: 50%;
        width: 100%;
    }
    .about-col p{
        padding-right: 0;
    }
    .skills-row{
        flex-direction: column;
        gap: 50px;
    }
    .skills h2{
        font-size: 29px;
    }
    .skills p{
        font-size: 15px;
    }
    .services-row{
        flex-direction: column;
        gap: 50px;
    }
    .services h1{
        font-size: 29px;
    }
    .services p{
        font-size: 15px;
    }
    .portfolio-row{
        flex-direction: column;
        gap: 50px;
    }
    .portfolio h1{
        font-size: 29px;
    }
    .portfolio p{
        font-size: 15px;
    }
    .footer-row{
flex-direction: column;
gap: 50px;
    }
    .footer ul li{
        font-size: 20px;
    }
}



